/* Google Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.nav-logo img {
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

header {
    box-shadow: 2px 2px 8px -6px #101a67;
}

.nav-links li a {
    padding: 6px 10px;
}

/* Current page style */
.nav-links li a[aria-current='page'] {
    background: #C5E5FF;
    border-radius: 8px;
    font-weight: 600;
}

/* Navigation link setting*/
.nav-links li a:hover {
    background: #9CD3FF;
    border-radius: 8px;
}

/* Menu button */
#mobileMenuTrigger {
    border: none;
    cursor: pointer;
    background: transparent;
    align-items: center;
}


/* Menu button 3 lines */
#mobileMenuTrigger div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
}

#mobileMenuTrigger:hover {
    background: #9CD3FF;
    border-radius: 5px;
}


/* Logo and Menu button container */
.nav-logo-container {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

/* ul nav links */
.nav-links {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0px 40px;
}

/* li nav link */
.nav-links li {
    border-bottom: 1px solid rgba(73, 80, 160, 0.123);
    padding: 10px 0px 32px;
}

.nav-socials {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.nav-socials a:hover {
    color: #008EDE;
}


/* Drop down Menu container */
.nav-links-container {
    /* border: solid; */
    /* default state - when not clicked the container hidden*/
    display: none;
    max-height: 0px;
    overflow-y: hidden;
    /* transition: max-height 0.9s ease-in-out; */
}

/* active state - when clicked the container expand */
.active {
    display: block;
    max-height: 2000px;
}

/* Menu button transorm to X button */
.active .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.active .line2 {
    opacity: 0;
}

.active .line3 {
    transform: rotate(45deg) translate(-5.2px, -4px);
}

/* screen size > 768px */
@media screen and (min-width:768px) {
    .nav-logo-container {
        justify-content: center;
        padding: 24px 0px 0px;
    }

    #mobileMenuTrigger {
        display: none;
    }

    .nav-links-container {
        display: block;
        max-height: none;
    }

    .nav-links {
        flex-direction: row;
        justify-content: center;
        margin: 18px 0px 20px;
    }

    .nav-links li {
        border: none;
        padding: 0;
    }

    .nav-socials {
        padding-bottom: 24px;
    }
}

/* screen size > 1025px */
@media screen and (min-width:1025px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        padding: 24px 32px;
        max-width: 1800px;
        margin: auto;
    }

    .nav-logo-container {
        padding: 0;
    }

    .nav-links-container {
        display: flex;
        width: 100%;
    }

    .nav-links {
        /* border:solid; */
        align-items: center;
        /* expand to all the space left */
        flex: 1;
    }

    .nav-socials {
        /* border:solid; */
        padding: 0;
        align-items: center;
    }
}